/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------------------------------------*/

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(100, 150, 255);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.title {
    color: rgb(100, 150, 255);
    text-align: center;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    color: #333;
}

/* Tips Styles */
.tips-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns of equal width */
    gap: 15px;
}

.tip-box {
    background-color: white;
    border-radius: 10px;
    padding: 10px; /* Space inside the box */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tip-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav Bar Styles */
.nav-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
    border-bottom: 1px solid #ccc; 
  }

.nav-buttons button {
    background-color: #c3d3f1a9;
    border: 1px solid #c3d3f1a9; 
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.nav-buttons button:hover {
    background-color: #bcd5fffc;
}

.hiring-managers-tips-container h2,
.alumni-tips-container h2 {
    margin-top: 30px;
    margin-bottom: 20px; 
    text-decoration: underline;
    font-size: 20px;
}
