/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccc; 
  background-color: rgb(100, 150, 255); 
  color: white; 
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}


/* Main Content Layout */
.container {
  display: flex;
  flex-wrap: wrap; 
}

.main-content {
  flex: 3;
  padding: 20px;
}

.sidebar {
  flex: 1;
  border-left: 2px solid #ccc;
  padding: 20px;
  min-width: 300px; 
  font-weight: bold;
  font-size: larger;
}

/* Application Tracker Section */
.tracker-header, .resources {
  text-align: center;
  margin-bottom: 20px;
}

.status-columns {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap; 
}

.status-column {
  flex: 1;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.status-column h3 {
  background-color: #c8daf8; 
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); 
  color: #030303; 
  font-size: medium;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1px;
}

.status-column:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
}

.application-box {
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 13px;
  text-align: left;
  background-color: #f5f5f5;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  cursor: grab;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.application-box:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Sidebar */
.reminder-container {
  margin-bottom: 15px;
  background-color: #d2e5ff;
  border-radius: 4px;
  padding: 10px;
}

.reminder-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.reminder-text {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.reminder-name {
  font-size: 16px;
  margin: 0;
}

.reminder-date {
  font-size: 14px;
  color: rgba(73, 129, 197, 0.934);
  margin-top: 5px;
}

label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
}

.reminder-button {
  background-color: #a9afba;
  border: 1px solid #ccc;
  color: black;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  transition: all 0.3s ease; 
}

#new-reminder-button {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.reminder-button:hover {
  transform: translateY(-2px); 
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2); 
  background-color: #ced3dd;
}

#reminder-popup {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
}

/* content of reminder modal */
.reminder-content {
  background-color: hsl(220, 90%, 76%);;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: smaller;
}

.close-reminder {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-reminder:hover,
.close-reminder:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Navigation Bar */
.nav-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px; 
  border-bottom: 1px solid #ccc; 
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.nav-button:hover {
  color: gray; 
}

.nav-buttons button {
  background-color: #c3d3f1a9;
  border: 1px solid #c8daf8; 
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  transition: background-color 0.3s ease; 
}

.nav-buttons button:hover {
  background-color: #bcd5fffc;
}

/* Add a New Job Modal */
.new-job {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.new-job-content {
  background-color: hsl(220, 90%, 76%);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  max-width: 600px; 
  border-radius: 8px; 
  font-weight: bold;
  align-items: center;
}

/* Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: gray; /* Subtle hover effect */
  text-decoration: none;
  cursor: pointer;
}

/* Footer */
footer {
  padding: 20px;
}

.action-button {
  padding: 4px 8px;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  color: #444; 
  background: #f4f4f4;
  border: 1px solid #bbb; 
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.drag-over-trash {
  background-color: red;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Sorting Design */
.sort-container {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.sort-container label {
  font-size: 14px;
  font-weight: bold;
}

.sort-container select {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .container {
    flex-direction: column; 
  }

  .status-columns {
    flex-direction: column; 
  }

  .nav-buttons button {
    width: 100%; 
    text-align: center;
    margin: 5px 0;
  }
}

